@model List<GetProductQueryResult>
@{
    ViewData["Title"] = "Index";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Ürün Markası</th>
        <th>Ürün Kategorisi</th>
        <th>Stok</th>
        <th>Fiyat</th>
        <th>Vergi</th>
        <th>Tedarikçi Firma</th>
        <th>Son Kullanma Tarihi</th>
        <th>Barkod</th>
        <th>Raf Numarası</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.ProductBrand</td>
            <td>@item.ProductCategory</td>
            <td>@item.ProductStock</td>
            <td>@item.ProductPrice</td>
            <td>@item.Tax</td>
            <td>@item.Publisher</td>
            <td>@item.LastUseDate</td>
            <td>@item.Barcode</td>
            <td>@item.ShelfNumber</td>
            <td><a href="/Product/DeleteProduct/@item.ProductID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Product/UpdateProduct/@item.ProductID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Product/DetailProduct/@item.ProductID" class="btn btn-info">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Product/AddProduct/" class="btn btn-primary">Yeni Ürün Girişi</a>
